<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs') %>	
<body>
<!-- header -->
	<%- include('./partials/header.ejs') %>
<!-- //header -->
<!-- products-breadcrumb -->
	<%- include('./partials/breadcrumb.ejs') %>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
			   <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav nav_1">
					<li><a href="products.html">TRANG ĐIỂM - MAKEUP</a></li>
					<li><a href="products.html">CHĂM SÓC DA - SKINCARE</a></li>
					<li class="dropdown mega-dropdown active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">CHĂM SÓC CƠ THỂ - BATH & BODY<span class="caret"></span></a>				
						<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
							<div class="w3ls_vegetables">
								<ul>	
									<li><a href="ChamSocCoThe.html">Sữa tắm - BODY WASH</a></li>
									<li><a href="ChamSocCoThe.html">Nước hoa - FRAGRANCE</a></li>
									<li><a href="ChamSocCoThe.html">Dưỡng Body - BODY LOTION</a></li>
								</ul>
							</div>                  
						</div>				
					</li>
					<li><a href="chamsoctoc.html"> CHĂM SÓC TÓC - HAIR</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">SẢN PHẨM KHÁC - OTHERS<span class="caret"></span></a>
						<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
							<div class="w3ls_vegetables">
								<ul>
									<li><a href="sanphamkhac.html">Chăm sóc móng - NAILCARE</a></li>
									<li><a href="sanphamkhac.html">Chăm sóc răng miệng - ORAL CARE</a></li>
								</ul>
							</div>                  
						</div>	
					</li>
					<li><a href="suaruamat.html">SỮA RỬA MẶT - CLEANSERS</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> MINI SIZE<span class="caret"></span></a>
						<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
							<div class="w3ls_vegetables">
								<ul>
									<li><a href="minisize.html">Dưỡng da - SKINCARE</a></li>
									<li><a href="minisize.html">Others</a></li>
								</ul>
							</div>                  
						</div>	
					</li>
					<li><a href="setquatang.html"> SET QUÀ TẶNG - GIFT</a></li>
					<li><a href="short-codes.html">Short Codes</a></li>
				</ul>
			 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
<!-- faq -->
<div class="faq">
	<h3>Chính sách</h3>
	<div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title asd">
			<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Hướng dẫn mua hàng
			</a>
		  </h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		   <div class="panel-body panel_text">
										
			<b>1. Tìm kiếm sản phẩm</b>
			<br>Gõ tên sản phẩm vào thanh tìm kiếm hoặc chọn theo danh mục sản phẩm , hàng mới về hoặc khuyến mãi hôm nay. 
			<br><b>2. Cách đặt hàng</b>   
			<br>Khi đã tìm được sản phẩm mong muốn , quý khách bấm vào hình hoặc tên sản phẩm để xem thông tin chi tiết sản phẩm.
			  click vào nút " thêm vào giỏ "
			<br> Chọn số lượng cần mua, thêm ghi chú nếu có. 
			<br> Click chọn " đặt hàng" nếu đã mua hàng xong hoặc chọn" tiếp tục mua hàng" để xem những sản phẩm khác.
			<br><b>3.Tài khoản đăng nhập</b>
			<br>Quý khách có thể đăng kí bằng facebook hoặc google
			<br>Trường hợp chưa đăng kí tài khoản đăng nhập, quý khách có thể đặt hàng tại Beauty Store. Tuy nhiên quý khách vui lòng điền đầy đủ thông tin theo mẫu, sau đó lựa chọn 1 trong 2 phương thức thanh toán sau: 
			<br> 1. Thanh toán khi nhận hàng
			<br>Thanh toán khi giao hàng(COD): Chỉ áp dụng trả tiền mặt khi giao hàng (ship Cod) cho khách hàng tại HCM 
			và các quận nội thành Hà Nội. Nếu bạn ở các tỉnh, thành phố khác vui lòng chọn tỉnh, thành phố ở thông tin giao hàng ,
			đồng thời chọn phương thức thanh toán là CHUYỂN KHOẢN NGÂN HÀNG. Xin cảm ơn.
			<br> 2. Chuyển khoản qua ngân hàng 
			<br> Beauty sẽ liên hệ với bạn sau khi đặt hàng và cung cấp tài khoản phù hợp để giao dịch chuyển khoản được thuận tiện và nhanh nhất.
			<br> Khi chuyển khoản qua ngân hàng . Quý khách vui lòng chuyển khoản số tiền đặt hàng + phí ship(nếu có) vào tài khoản ngân hàng đã chọn.
			<br> Sau khi điền đầy đủ thông tin , quý khách kiểm tra lại đơn hàng và nhập "mã giảm gía"(nếu có) sau đó click vào nút hoàn tất đơn hàng.
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingTwo">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> Chính sách giao hàng
			  <html lang="en">
			  <head>
				  <meta charset="UTF-8">
				  <meta name="viewport" content="width=device-width, initial-scale=1.0">
				  <title>Document</title>
			  </head>
			  <body>
				  
			  </body>
			  </html>
			</a>
		  </h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		   <div class="panel-body panel_text">
			<b>Chính sách giao hàng</b> 
			 <br> Đối với khu vực nội thành : Giao hàng miễn phí với hóa đơn trên 200k

			 <br> Nội thành HCM gồm các quận: Quận 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, Gò Vấp, Tân Bình, Bình Thạnh, Phú Nhuận, Tân Phú

			<br> Đối với khu vực ngoại thành và khách tỉnh : Giao hàng miễn phí với hóa đơn trên 90k



			<br>	Beauty Store sẽ gọi điện xác nhận đơn hàng trong vòng 24h, trước khi giao hàng shipper sẽ gọi điện cho bạn để xác nhận, trường hợp không liên lạc được thì gói hàng của bạn sẽ được hoàn về cửa hàng cho đến khi đã xác nhận được với quý khách.



			<br> Khi nhận hàng, quý khách VUI LÒNG KIỂM TRA ĐẦY ĐỦ:

			<br> Hoá đơn

			 <br> Tên hàng

			<br> Sản phẩm

			<br> (Vui lòng giữ hoá đơn và không sử dụng sản phẩm đối với các trường hợp đổi trả.)
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingThree">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Chính sách tích lũy điểm 
			</a>
		  </h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		   <div class="panel-body panel_text">
			 <b>1. Thẻ thành viên Beauty Store là gì?</b>
			 <br> Là thẻ tích lũy điểm dành riêng cho các khách hàng thân thiết đã và đang đồng hành, ủng hộ Beauty trong chặng đường vừa qua.

			 <br> Nàng sẽ nhận được những ƯU ĐÃI ĐẶC BIỆT chỉ DÀNH RIÊNG cho thành viên khi mua hàng tại hệ thống Beauty Store.

			 <br>  Có 3 mốc tích điểm tương đương với 3 thứ hạng thẻ cao dần: ROSE, PRINCESS, QUEEN, cấp độ càng cao sẽ càng nhận được nhiều ưu đãi hấp dẫn và thú vị nhé.

			   <br><b>2. Làm thế nào để sở hữu và quyền lợi thẻ thành viên</b>
			<br>2.1. HẠNG THẺ ROSE
			<br> Khi mua hàng trên 300K nhận được thẻ ROSE.

			<br> Cứ 100K tích được 2K.

			<br> Giảm ngay 5% hóa đơn trong ngày sinh nhật và được cộng dồn nếu trùng ngày sale của hệ thống.



			<br> 2.2. HẠNG THẺ PRINCESS

			<br> Khi mua hàng >4 triệu/năm (tích lũy đủ 80 điểm thẻ ROSE).

			<br> Cứ 100K tích được 4K.

			<br> Giảm ngay 7% hóa đơn trong ngày sinh nhật và giảm 5% trong ngày lên hạng thẻ, cộng dồn nếu trùng ngày sale của cửa hàng.

			  <br> Ngoài ra sẽ được freeship cho mọi hóa đơn, tham gia các event, sale đặc biệt.



			<br> 2.3. HẠNG THẺ QUEEN

			<br> Khi mua hàng >10 triệu/năm (tích lũy đủ 400 điểm thẻ PRINCESS).

			<br> Cứ 100K tích được 8K.

			<br> Giảm ngay 10% hóa đơn trong ngày sinh nhật và giảm 10% trong ngày lên hạng thẻ, được cộng dồn nếu trùng ngày sale của hệ thống.

			   <br> Ngoài ra sẽ được freeship cho mọi hóa đơn, tham gia các event, sale đặc biệt, tham gia các workshop và được nhận quà hàng tháng.


			<br> THẺ THÀNH VIÊN ĐƯỢC ÁP DỤNG TẠI TẤT CẢ CỬA HÀNG CỦA HỆ THỐNG Beauty Store TRÊN TOÀN QUỐC VÀ KHI MUA ONLINE NHÉ CÁC NÀNG!

			<br> Khi có bất kì vấn đề gì về thẻ thành viên Beauty Store CLUB cần giải đáp, vui lòng gửi gọi điện thoại về số HOTLINE: 19002631 (Bấm phím 1 và làm theo hướng dẫn) hoặc yêu cầu tư vấn trực tiếp từ các nhân viên bán hàng tại shop nhé.

		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingFour">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Chính sách đổi trả
			</a>
		  </h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		   <div class="panel-body panel_text">
			Hàng mua rồi khách hàng vui lòng KHÔNG đổi trả lại. 
			 <br>Việc bảo quản hàng hóa cửa hàng không thể đảm bảo sau khi khách hàng đã mang ra khỏi cửa hàng. 
			 <br> Nên thực hiện điều này cũng là bảo vệ quyền lợi cho khách hàng.
		  </div>
		</div>
	  </div>
	   <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingFive">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Chính sách bán sỉ
			</a>
		  </h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		   <div class="panel-body panel_text">
			<b>1. Cách thức lấy sỉ:</b> 

			<br> Hóa đơn trên 3 triệu sẽ được giao theo giá sỉ.
			
			<br> Các sản phẩm có các mức giá sỉ khác nhau chia thành các mức đơn 3tr, 10tr, 15tr, 20tr, 30tr.... Đơn không yêu cầu số lượng.
			
			<br> Trường hợp bạn muốn lấy theo số lượng thì một sản phẩm giống nhau lấy trên 15sản phẩm thì được giá sỉ (có kèm điều kiện là đơn hàng giá trị tối thiểu 2 triệu).
			
			<br><b>2. Cách thức đặt hàng:</b> 
			
			<br> Bạn gửi shop list sản phẩm cần lấy bao gồm tên sản phẩm + số lượng,
			
			<br> Shop sẽ gửi lại bạn đơn hàng bao gồm giá và số lượng giao. Không có bảng giá buôn tổng hợp nha. (Số lượng lấy càng nhiều thì mức giá sẽ tốt hơn)
			
			<br><b> 3. Cách thức vận chuyển:</b>
			
			<br> Nếu bạn ở tỉnh, bạn chuyển khoản trước 100% tiền hàng, shop sẽ gửi hàng đến bến xe, nhà xe bạn yêu cầu. Phí vận chuyển của nhà xe bạn chịu.
			
			<br> Nếu trong nội thành HCM thì chuyển khoản hoặc giao hàng thu tiền mặt, Free ship nha.
			
			<br><b>4. Liên hệ mua hàng </b>  
			
			<br> Inbox Page: Facebook.com/beautystorewholesale để được tư vấn kỹ nhất.
			
			<br> Hotline: O963.460.686 - O971.391.288 (zalo/viber)
		  </div>
		</div>
	  </div>
	   <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingSix">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>terry eiusmod high life accusamus 
			</a>
		  </h4>
		</div>
		<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
		   <div class="panel-body panel_text">
			Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
		  </div>
		</div>
	  </div>
	   <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingSeven">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>quasi architecto beatae vitae dicta
			</a>
		  </h4>
		</div>
		<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
		   <div class="panel-body panel_text">
			Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
		  </div>
		</div>
	  </div>
	   <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingEight">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>iure reprehenderit qui in ea voluptate velit esse
			</a>
		  </h4>
		</div>
		<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
		   <div class="panel-body panel_text">
			Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
		  </div>
		</div>
	  </div>
	   <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingNine">
		  <h4 class="panel-title asd">
			<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>reprehenderit qui in ea voluptate velit esse quam nihil 
			</a>
		  </h4>
		</div>
		<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
		   <div class="panel-body panel_text">
			Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
		  </div>
		</div>
	  </div>
	</div>
</div>
<!-- //faq -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- newsletter -->
	<%- include('./partials/newsletter.ejs') %>
<!-- //newsletter -->
<!-- footer -->
	<%- include('./partials/footer.ejs') %>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
	</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
	<script src="js/minicart.js"></script>
	<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>