
<!DOCTYPE html>
<html>

	<%- include('./partials/head.ejs') %>
<body>
<!-- header -->
	<%- include('./partials/header.ejs') %>
<!-- //header -->
<!-- products-breadcrumb -->
	<%- include('./partials/breadcrumb.ejs') %>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<%- include('./partials/nav.ejs') %>
		<div class="w3l_banner_nav_right">
<!-- services -->
		<div class="services">
			<h3>Dịch vụ</h3>
			<div class="w3ls_service_grids">
				<div class="col-md-5 w3ls_service_grid_left">
					<h4>THẺ THÀNH VIÊN BEAUTY STORE </h4>
					<p>Là thẻ tích lũy điểm dành riêng cho các khách hàng thân thiết đã và đang đồng hành, ủng hộ Beauty Store trong chặng đường vừa qua.

						Nàng sẽ nhận được những ƯU ĐÃI ĐẶC BIỆT chỉ DÀNH RIÊNG cho thành viên khi mua hàng tại hệ thống Beauty Store.</p>
				</div>
				<div class="col-md-7 w3ls_service_grid_right">
					<div class="col-md-4 w3ls_service_grid_right_1">
						<img src="images/b04.jpg" alt=" " class="img-responsive" id='km'/>
					</div>
					<div class="col-md-4 w3ls_service_grid_right_1">
						<img src="images/b02.jpg" alt=" " class="img-responsive" id='km'/>
					</div>
					<div class="col-md-4 w3ls_service_grid_right_1">
						<img src="images/b03.jpg" alt=" " class="img-responsive"id='km' />
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3ls_service_grids1">
				<div class="col-md-6 w3ls_service_grids1_left">
					<img src="images/b01.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 w3ls_service_grids1_right">
					<ul>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Khi mua hàng trên 300K nhận được thẻ ROSE</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Cứ 100K tích được 2K.</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Giảm ngay 7% hóa đơn trong ngày sinh nhật.</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ngoài ra sẽ được freeship cho mọi hóa đơn và tham gia các event.</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Tham gia các workshop và được nhận quà hàng tháng.</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Cấp độ càng cao sẽ càng nhận được nhiều ưu đãi hấp dẫn và thú vị  </li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Hàng ngàn chế độ ưu đãi dành cho thẻ thành viên </li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Các chế độ ưu đại đặc biệt riêng cho các ngày lễ </li>
					</ul>
					<a href="sanpham.html">Shop Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //services -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- services-bottom -->
	<div class="services-bottom">
		<div class="container">
			<div class="col-md-3 about_counter_left">
				<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
				<p class="counter">89,147</p> 
				<h3>Followers</h3>
			</div>
			<div class="col-md-3 about_counter_left">
				<i class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></i>
				<p class="counter">54,598</p> 
				<h3>Savings</h3>
			</div>
			<div class="col-md-3 about_counter_left">
				<i class="glyphicon glyphicon-export" aria-hidden="true"></i>
				<p class="counter">83,983</p> 
				<h3>Support</h3>
			</div>
			<div class="col-md-3 about_counter_left">
				<i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
				<p class="counter">45,894</p> 
				<h3>Popularity</h3>
			</div>
			<div class="clearfix"> </div>
			<!-- Stats-Number-Scroller-Animation-JavaScript -->
				<script src="js/waypoints.min.js"></script> 
				<script src="js/counterup.min.js"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 10,
							time: 1000
						});
					});
				</script>
			<!-- //Stats-Number-Scroller-Animation-JavaScript -->

		</div>
	</div>
<!-- //services-bottom -->
<!-- newsletter-top-serv-btm -->
	<div class="newsletter-top-serv-btm">
		<div class="container">
			<div class="col-md-4 wthree_news_top_serv_btm_grid">
				<div class="wthree_news_top_serv_btm_grid_icon">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				</div>
				<h3>Nam libero tempore</h3>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
					saepe eveniet ut et voluptates repudiandae sint et.</p>
			</div>
			<div class="col-md-4 wthree_news_top_serv_btm_grid">
				<div class="wthree_news_top_serv_btm_grid_icon">
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
				</div>
				<h3>officiis debitis aut rerum</h3>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
					saepe eveniet ut et voluptates repudiandae sint et.</p>
			</div>
			<div class="col-md-4 wthree_news_top_serv_btm_grid">
				<div class="wthree_news_top_serv_btm_grid_icon">
					<i class="fa fa-truck" aria-hidden="true"></i>
				</div>
				<h3>eveniet ut et voluptates</h3>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
					saepe eveniet ut et voluptates repudiandae sint et.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter-top-serv-btm -->
<!-- newsletter -->
	<%- include('./partials/newsletter.ejs') %>
<!-- //newsletter -->
<!-- footer -->
	<%- include('./partials/footer.ejs') %>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
	</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<!-- //here ends scrolling icon -->
	<script src="js/minicart.js"></script>
	<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>