<!DOCTYPE html>
<html>

	<%- include('./partials/head.ejs') %>	
<body>
<!-- header -->
	<%- include('./partials/header.ejs') %>
<!-- //header -->
<!-- products-breadcrumb -->
	<%- include('./partials/breadcrumb.ejs') %>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<%- include('./partials/nav.ejs') %>
		<div class="w3l_banner_nav_right">
<!-- about -->
		<div class="privacy about">
			<h3>Hệ Thống Cửa Hàng </h3>
			<p class="animi">Beauty Store là chuỗi siêu thị mỹ phẩm  chính hãng và uy tín hàng đầu Việt Nam. 
				Hoạt động từ 2009 đến nay, Beauty đã có gần 10 năm kinh nghiệp trong công cuộc trở thành tên tuổi chủ lực của ngành mỹ phẩm tại Việt Nam.<br/>

				Khởi đầu với  cửa hàng đầu tiên  tại ngõ Núi Trúc, Hà Nội vào năm 2013, sau 5 năm phát triển, Beauty store đã có 13  cửa hàng tại hai thành phố lớn nhất nước.
				
				Số lượng khách hàng đến với Beauty store tăng lên đáng kể mỗi năm. Beauty store luôn mong muốn đem lại cho khách hàng những lợi ích tốt nhất và những giá trị hoàn hảo nhất.
				
				Giữa một thị trường mỹ phẩm xách tay thượng vàng hạ cám, Beauty Store đang mở lối đi riêng bằng cách kết nối các thương hiệu nổi tiếng, song song với việc mở rộng mạng lưới cửa hàng để đến gần tín đồ làm đẹp hơn.<br/>
				
				Beauty đã hợp tác chính thức và phân phối độc quyền nhiều thương hiệu mỹ phẩm nổi tiếng trên thế giới như Maybelline, Loreal , Cosrx, Benton, Murad, Klairs , Bioderma, Vichy , Laroch Possay, Instree, By Wishtrend, I’m from …  Khi đến với Beauty store, khách hàng có thể tìm mua được những sản phẩm chính hãng với giá cả cạnh tranh nhất trên thị trường.</p>
			<div class="agile_about_grids">
				<div class="col-md-6 agile_about_grid_right">
					<img src="images/06.jpg" alt=" " class="img-responsive"/>
				</div>
				<div class="col-md-6 agile_about_grid_left">
					<ol>
						<li>CH1: Số 63 Nguyễn Phong Sắc-19002631 (Nhánh 101)</li>
						<li>CH2: Số 101 Ngõ Núi Trúc, trên phố Núi Trúc-19002631 (Nhánh 102)</li>
						<li>CH3: Số 56 Nguyễn Hữu Huân-19002631 (Nhánh 103)</li>
						<li>CH4: Số 48 Chùa Láng-19002631 (Nhánh 104)</li>
						<li>CH5: Số 228 Cầu Giấy-19002631(Nhánh 105)</li>
						<li>CH6: Số 151 Nguyễn Gia Trí(D2 cũ),P.25,Q.BT-19002631 (Nhánh 201)</li>
						<li>CH7: Số 352 Đường 3/2, P12, Q.10 - 19002631 (Nhánh 202)</li>
					</ol>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //about -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- team -->
	<div class="team">
		<div class="container">
			<h3>Các thành viên trong đại gia đình Beauty</h3>
			<div class="agileits_team_grids">
				<div class="col-md-3 agileits_team_grid">
					<img src="/images/Avatar-PNG-Download-Image.png" alt=" " class="img-responsive" id='Trang'/>
					<h4>Nguyễn Huy Nam</h4>
					<p>Cửa hàng trưởng 1</p>
					<ul class="agileits_social_icons agileits_social_icons_team">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-md-3 agileits_team_grid">
					<img src="/images/Avatar-PNG-Download-Image.png" alt=" " class="img-responsive" id='Ngan'/>
					<h4>Nguyễn Tùng Lâm </h4>
					<p>Cửa hàng trưởng 2</p>
					<ul class="agileits_social_icons agileits_social_icons_team">
						<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3>Đánh Giá</h3>
				<div class="w3_testimonials_grids">
					<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Beauty Store là một trong những shop mỹ phẩm uy tín được chị em tin dùng rất nhiều và đánh giá cao. 
											Tất cả các sản phẩm tại Beauty Store đều check được mã code từ nhà sản xuất đảm bảo sản phẩm chính hãng chất lượng cao.</p>
										<h4>Vũ Thị Minh Lan <span>Khách hàng</span></h4>
									</div>
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Mọi người đều cá tính độc đáo riêng của họ; đó là lợi thế duy nhất cũng là quyền tự do của mọi người.
											 Beauty Store hỗ trợ quyền tự do lựa chọn này bằng cách tạo ra một dòng sản phẩm đẹp động và chất lượng giúp bạn tự tin thể hiện cá tính riêng biệt.
											 Beauty Store hỗ trợ bạn làm đẹp với một loạt các sản phẩm từ Nhật,… Bạn sẽ hài lòng với dòng son mà Beauty mang lại.</p>
										<h4>Đỗ Thị Chi Nga<span>Khách hàng</span></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Đến với Beauty Store, chắc chắn các cô nàng sẽ cực thích thú với vô vàn các loại son đa màu sắc, đa chủng loại, cho bạn tha hồ lựa chọn.
											Đây chắc chắn sẽ là một trong những đại chỉ bán son môi đẹp, giá tốt và nổi tiếng nhất tại Hà Nội mà bạn không nên bỏ qua.</p>
										<h4>Phan Vũ Minh Hằng <span>Khách hàng</span></h4>
									</div>
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Đến với Beauty Store, chắc chắn các cô nàng sẽ cực thích thú với vô vàn các loại son đa màu sắc, đa chủng loại, cho bạn tha hồ lựa chọn.
											Đây chắc chắn sẽ là một trong những đại chỉ bán son môi đẹp, giá tốt và nổi tiếng nhất tại Hà Nội mà bạn không nên bỏ qua.</p>
										<h4>Phạ Thị Nguyệt Nga <span>Khách hàng</span></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Beauty Store là một trong những shop mỹ phẩm uy tín được chị em tin dùng rất nhiều và đánh giá cao. 
											Tất cả các sản phẩm tại Beauty Store đều check được mã code từ nhà sản xuất đảm bảo sản phẩm chính hãng chất lượng cao.</p>
										<h4>Vũ Thị Hiền <span>Khách hàng</span></h4>
									</div>
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>Beauty Store là chuỗi siêu thị mỹ phẩm chính hãng và uy tín hàng đầu Việt Nam.
										Chất lượng phục vụ chu đáo, tận tình,...</p>
										<h4>Phạm Thị Thúy Vân <span>Khách hàng</span></h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</article>
						</div>
					</div>
					<script src="js/jquery.wmuSlider.js"></script> 
					<script>
						$('.example1').wmuSlider();         
					</script> 
				</div>
		</div>
	</div>
<!-- //testimonials -->
<!-- newsletter -->
	<%- include('./partials/newsletter.ejs') %>
<!-- //newsletter -->
<!-- footer -->
	<%- include('./partials/footer.ejs') %>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
	</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
	<script src="js/minicart.js"></script>
	<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>