<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs') %>
<body>
<!-- header -->
	<%- include('./partials/header.ejs') %>
<!-- //header -->
<!-- products-breadcrumb -->
	<%- include('./partials/breadcrumb.ejs') %>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<%- include('./partials/nav.ejs') %>
		<div class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner8">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div>
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
				<h3 class="w3l_fruit">Sản Phẩm Chính</h3>
				<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
					<% if(products.length > 0){ %>
						<% products.forEach(products => { %>
							<div class="col-md-3 w3ls_w3l_banner_left">
								<div class="hover14 column">
								<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
									<div class="agile_top_brand_left_grid_pos">
										<img src="images/offer.png" alt=" " class="img-responsive" />
									</div>
									<div class="agile_top_brand_left_grid1">
										<figure>
											<div class="snipcart-item block">
												<div class="snipcart-thumb">
													<a href="#"><img src="/<%= products.image %>" class="img-responsive" id ='qt'></a>
													<p><%= products.snippet %> </p>
													<h4>$<%= products.gia_moi %> <span>$<%= products.gia_goc %></span></h4>
												</div>
												<div class="snipcart-details">
													<form action="#" method="post">
														<fieldset>
															<input type="hidden" name="cmd" value="_cart" />
															<input type="hidden" name="add" value="1" />
															<input type="hidden" name="business" value=" " />
															<input type="hidden" name="item_name" value="<%= products.title  %> " />
															<input type="hidden" name="amount" value="<%= products.gia_moi %>" />
															<input type="hidden" name="discount_amount" value="" />
															<input type="hidden" name="currency_code" value="VND" />
															<input type="hidden" name="return" value=" " />
															<input type="hidden" name="cancel_return" value=" " />
															<input type="submit" name="submit" value="Add to cart" class="button" />
														</fieldset>
													</form>
												</div>
											</div>
										</figure>
									</div>
								</div>
								</div>
							</div>
						<%})%>
					<%} else {%>
						<p>Nothing to display</p>
					<%}%>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- newsletter -->
	<%- include('./partials/newsletter.ejs') %>
<!-- //newsletter -->
<!-- footer -->
	<%- include('./partials/footer.ejs') %>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
	</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
	<script src="js/minicart.js"></script>
	<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>