<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

<body>
<!-- header -->
	<%- include('./partials/header.ejs') %>
<!-- //header -->
<!-- products-breadcrumb -->
	<%- include('./partials/breadcrumb.ejs') %>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<%- include('./partials/nav.ejs') %>
        <div class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner3_btm">
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="content">
						<div class="container">
						<div class="row">
						<div class="col-md-5 mr-auto">
						<h2>Contact Us</h2>
						<ul class="list-unstyled pl-md-5 mb-5">
						<li class="d-flex text-black mb-2">
						<span class="mr-3"><span class="icon-map"></span></span> 34 Street Name, City Name Here</li>
						<li class="d-flex text-black mb-2"><span class="mr-3"><span class="icon-phone"></span></span>0974910609</li>
						<li class="d-flex text-black"><span class="mr-3"><span class="icon-envelope-o"></span></span> ShopSamBi@gmail.com</li>
						</ul>
						</div>
						<div class="col-md-6">
						<form class="mb-5" method="post" id="contactForm" name="contactForm" novalidate="novalidate">
						<div class="row">
						<div class="col-md-12 form-group">
						<label for="name" class="col-form-label">Name</label>
						<input type="text" class="form-control" name="name" id="name">
						</div>
						</div>
						<div class="row">
						<div class="col-md-12 form-group">
						<label for="email" class="col-form-label">Email</label>
						<input type="text" class="form-control" name="email" id="email">
						</div>
						</div>
						<div class="row">
						<div class="col-md-12 form-group">
						<label for="message" class="col-form-label">Message</label>
						<textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
						</div>
						</div>
						<div class="row">
						<div class="col-md-12">
						<input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
						<span class="submitting"></span>
						</div>
						</div>
						</form>
						<div id="form-message-warning mt-4"></div>
							<div id="form-message-success">
								Your message was sent, thank you!
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>>
	</div>
</div>
<div class="clearfix"></div>
</div>
<!-- newsletter -->
	<%- include('./partials/newsletter.ejs') %>
<!-- //newsletter -->
<!-- footer -->
	<%- include('./partials/footer.ejs') %>
<!-- //footer -->
</body>
</html>